body {
  padding: 0 10px;
}

.app {
  width: 100%;
  max-width: 1240px;
  min-width: 780px;
  margin: 0 auto;
}

.app__container {
  display: flex;
  width: 100%;
}

.app__header {
  width: 100%;
  margin-bottom: 30px;
}

.app__points {
  width: 300px;
  margin-right: 10px;
  height: 600px;
  overflow: auto;
  box-sizing: border-box;
}

.app__map {
  flex-grow: 1;
  min-width: 500px;
  height: 600px;
  box-sizing: border-box;
}
