.input {
  box-sizing: border-box;
  padding: 10px 60px 10px 20px;
  border: 2px solid $orange;
  background-color: transparent;
  color: $orange;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  color: black;
}
