.point {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 30px 5px 5px;
  border: 2px solid $orange;

  &:hover,
  &:focus,
  &:active {
    background-color: $yellow2;
  }
}

.point__remove-button {
  position: absolute;
  right: 4px;
  top: 4px;
}

.point__name {
  display: block;
  line-height: 24px;
  font-size: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.point__address {
  display: block;
  line-height: 16px;
  font-size: 14px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
